@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Solinea Branded theme for reveal.js.
 * Author: Vern Hart
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

section {
  height: 99%;
  background: url(../../assets/solinea_flat_logo_150_36.png) 0% 100% no-repeat; }

section::after {
  content: "© Solinea, Inc.";
  position: absolute;
  bottom: 0%;
  left: 25%;
  right: 25%;
  font-size: 0.5em;
  color: #aaa; }

body .printonly {
  visibility: hidden; }

body::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(90deg, #6AA949, #487231);
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  padding: 3.25%;
  left: 0;
  bottom: 0; }

body::after {
  content: "";
  position: fixed;
  background-image: linear-gradient(90deg, #0F222E, #2D79AC);
  height: 7.5%;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  left: 0;
  bottom: 0; }

.alttable th {
  background-color: #6AA949;
  color: #fff;
  border: 3px solid #fff; }

.reveal table.alttable td {
  border: 3px solid #fff; }

.alttable tr:nth-child(even) {
  background-color: #dbecd2;
  color: #0F222E;
  border: 3px solid #fff; }

.alttable tr:nth-child(odd) {
  background-color: #f8fbf6;
  color: #0F222E;
  border: 3px solid #fff; }

.rowheader td:first-child {
  background-color: #6AA949;
  color: #fff;
  border: 3px solid #fff;
  font-weight: bold; }

.reveal .pause-overlay {
  background: url(../../assets/openstack-logo-large.png) 10% 10%/60% no-repeat, url(../../assets/solinea_flat_logo_big.png) 90% 95%/30% no-repeat;
  background-color: black; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #4a5151; }

::selection {
  color: #fff;
  background: #487231;
  text-shadow: none; }

.reveal .slides > section, .reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #3B8DBB;
  font-family: 'League Gothic', Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong, .reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol, .reveal dl, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q, .reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th, .reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #6AA949;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #78bae6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #497432; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #4a5151;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #6AA949;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #6AA949; }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #6AA949; }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #6AA949; }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #6AA949; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78bae6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78bae6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78bae6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78bae6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #6AA949;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #6AA949; }

.reveal .slide-number {
  color: #aaa;
  opacity: 1; }

.reveal pre code {
  max-height: 400px;
  background: #EEF8FF;
  color: #0F222E; }

.titleslide > body {
  background: #0F222E;
  background: -moz-radial-gradient(center, circle cover, #2D79AC 0%, #0F222E 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D79AC), color-stop(100%, #0F222E));
  background: -webkit-radial-gradient(center, circle cover, #2D79AC 0%, #0F222E 100%);
  background: -o-radial-gradient(center, circle cover, #2D79AC 0%, #0F222E 100%);
  background: -ms-radial-gradient(center, circle cover, #2D79AC 0%, #0F222E 100%);
  background: radial-gradient(center, circle cover, #2D79AC 0%, #0F222E 100%);
  background-color: #0F222E; }

.titleslide > body::after {
  content: "";
  position: fixed;
  background-color: white;
  height: 21.5%;
  width: 100%;
  box-sizing: border-box;
  padding: 6%;
  left: 0;
  bottom: 0;
  background-image: none; }

.titleslide section {
  text-align: right;
  background: url(../../assets/welcome-bg.png) 50% 100%/100% no-repeat;
  color: #959f9f; }

.titleslide h1, .titleslide h2, .titleslide h3, .titleslide h4, .titleslide h5, .titleslide h6 {
  color: #fff; }

.titleslide section::after {
  content: ""; }

.endslide section {
  text-align: right;
  background: url(../../assets/thank-you-bg.png) 50% 100%/100% no-repeat; }

.sectionslide > body {
  background: #BFBFBF;
  background: -moz-radial-gradient(center, circle cover, #fff 0%, #BFBFBF 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff), color-stop(100%, #BFBFBF));
  background: -webkit-radial-gradient(center, circle cover, #fff 0%, #BFBFBF 100%);
  background: -o-radial-gradient(center, circle cover, #fff 0%, #BFBFBF 100%);
  background: -ms-radial-gradient(center, circle cover, #fff 0%, #BFBFBF 100%);
  background: radial-gradient(center, circle cover, #fff 0%, #BFBFBF 100%);
  background-color: #BFBFBF; }

.sectionslide > body::before {
  content: "";
  background: none; }

.sectionslide > body::after {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  left: -9%;
  top: 0;
  background: url(../../assets/solinea-emblem-big.png) 0% -5%/95% no-repeat;
  opacity: 0.55; }

.sectionslide section::before {
  content: "";
  height: 60%;
  display: block; }

.sectionslide section {
  text-align: left;
  background: none;
  left: 5%;
  color: #4a5151; }

.sectionslide h1, .sectionslide h2 {
  color: #0F222E; }

.sectionslide h3, .sectionslide h4, .sectionslide h5, .sectionslide h6 {
  color: #4a5151; }

.sectionslide section::after {
  content: ""; }

body.print-pdf .printonly {
  visibility: visible; }

body.print-pdf, .titleslide > body.print-pdf > .reveal, .titleslide > body.print-pdf > .reveal, .titleslide > body.print-pdf {
  background: none;
  counter-reset: page -1; }

body.print-pdf section, .titleslide > body.print-pdf section {
  text-align: center;
  background: none;
  color: #4a5151; }

.titleslide > body.print-pdf h1, .titleslide > body.print-pdf h2, .titleslide > body.print-pdf h3, .titleslide > body.print-pdf h4, .titleslide > body.print-pdf h5, .titleslide > body.print-pdf h6 {
  color: #3B8DBB; }

.titleslide > body.print-pdf section::before {
  content: counter(page);
  counter-increment: page;
  top: 7in;
  right: 0;
  height: 36px;
  position: absolute;
  font-size: 0.5em;
  color: #aaa;
  font-size: 18px; }

.titleslide > body.print-pdf section::after {
  content: "© Solinea, Inc.";
  top: 7in;
  width: 100%;
  left: 0;
  background: url(../../assets/solinea_flat_logo_150_36.png) 0% 101% no-repeat;
  height: 36px;
  text-align: center;
  font-size: 18px; }

body.print-pdf section.sectionslide > h4::before {
  content: "";
  height: 4in;
  display: block; }
