
/**
 * Solinea Branded theme for reveal.js.
 * Author: Vern Hart
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solinea colors
$base00:    #fff;	// main bg color
$base01:    #0F222E;	// title gradient start
$base02:    #2D79AC;	// title gradient end
$base03:    #BFBFBF;	// section gradient start
$base04:    #fff;	// section gradient end
$base05:    #aaa;	// footer text color
$base06:    #4a5151;	// default text color
$base07:    #3B8DBB;	// heading color
$base08:    #6AA949;	// link color
$base09:    #487231;	// darker link color
$base10:    #EEF8FF;	// code block bg

$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base06;
$headingColor: $base07;
$headingTextShadow: none;
$backgroundColor: $base00;
$linkColor: $base08;
$linkColorHover: lighten( $blue, 20% );
$selectionBackgroundColor: $base09;

section {
  height: 99%;
  background: url(../../assets/solinea_flat_logo_150_36.png) 0% 100% no-repeat;
}

section::after {
  content: "© Solinea, Inc.";
  position: absolute;
  bottom: 0%;
  left: 25%;
  right: 25%;
  font-size: 0.5em;
  color: $base05;
}

body .printonly {
  visibility: hidden;
}

body::before {
  content: "";
  position: fixed;
  background-image: linear-gradient(90deg,$linkColor,$selectionBackgroundColor);
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  padding: 3.25%;
  left: 0;
  bottom: 0;
}

body::after {
  content: "";
  position: fixed;
  background-image: linear-gradient(90deg,$base01,$base02);
  height: 7.5%;
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  left: 0;
  bottom: 0;
}

.alttable th {
  background-color: $linkColor;
  color: $base04;
  border: 3px solid $base04;
}

.reveal table.alttable td {
  border: 3px solid $base04;
}

.alttable tr:nth-child(even) {
  background-color: lighten( $linkColor, 40% );
  color: $base01;
  border: 3px solid $base04;
}

.alttable tr:nth-child(odd) {
  background-color: lighten( $linkColor, 50% );
  color: $base01;
  border: 3px solid $base04;
}

.rowheader td:first-child {
  background-color: $linkColor;
  color: $base04;
  border: 3px solid $base04;
  font-weight: bold;
}

.reveal .pause-overlay {
  background:
    url(../../assets/openstack-logo-large.png) 10% 10%/60% no-repeat,
    url(../../assets/solinea_flat_logo_big.png) 90% 95%/30% no-repeat;
  background-color: black;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// override slide number css
.reveal .slide-number {
  color: $base05;
  opacity: 1;
}

// override code block
.reveal pre code {
  max-height: 400px;
  background: $base10;
  color: $base01;
}


// Overrides for the titleslide ----------------
// ---------------------------------------------

.titleslide>body {
  background: $base01;
  background: -moz-radial-gradient(center, circle cover, $base02 0%, $base01 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $base02), color-stop(100%, $base01));
  background: -webkit-radial-gradient(center, circle cover, $base02 0%, $base01 100%);
  background: -o-radial-gradient(center, circle cover, $base02 0%, $base01 100%);
  background: -ms-radial-gradient(center, circle cover, $base02 0%, $base01 100%);
  background: radial-gradient(center, circle cover, $base02 0%, $base01 100%);
  background-color: $base01;
}

.titleslide>body::after {
  content: "";
  position: fixed;
  background-color: white;
  height: 21.5%;
  width: 100%;
  box-sizing: border-box;
  padding: 6%;
  left: 0;
  bottom: 0;
  background-image: none;
}

.titleslide section {
  text-align: right;
  background: url(../../assets/welcome-bg.png) 50% 100%/100% no-repeat;
  color: lighten( $mainColor, 30% );
}

.titleslide h1, .titleslide h2, .titleslide h3, .titleslide h4, .titleslide h5, .titleslide h6 {
  color: $backgroundColor;
}

.titleslide section::after {
  content: "";
}

// ---------------------------------------------



// Overrides for the endslide ------------------
// ---------------------------------------------

.endslide section {
  text-align: right;
  background: url(../../assets/thank-you-bg.png) 50% 100%/100% no-repeat;
}

// ---------------------------------------------



// Overrides for the sectionslide --------------
// ---------------------------------------------

.sectionslide>body {
  background: $base03;
  background: -moz-radial-gradient(center, circle cover, $base04 0%, $base03 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $base04), color-stop(100%, $base03));
  background: -webkit-radial-gradient(center, circle cover, $base04 0%, $base03 100%);
  background: -o-radial-gradient(center, circle cover, $base04 0%, $base03 100%);
  background: -ms-radial-gradient(center, circle cover, $base04 0%, $base03 100%);
  background: radial-gradient(center, circle cover, $base04 0%, $base03 100%);
  background-color: $base03;
}

.sectionslide>body::before {
  content: "";
  background: none;
}

.sectionslide>body::after {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  left: -9%;
  top: 0;
  background: url(../../assets/solinea-emblem-big.png) 0% -5%/95% no-repeat;
  opacity: 0.55;
}

.sectionslide section::before {
  content: "";
  height: 60%;
  display: block;
}

.sectionslide section {
  text-align: left;
  background: none;
  left: 5%;
  color: $mainColor;
}

.sectionslide h1, .sectionslide h2 {
  color: $base01;
}

.sectionslide h3, .sectionslide h4, .sectionslide h5, .sectionslide h6 {
  color: $mainColor;
}

.sectionslide section::after {
  content: "";
}

// ---------------------------------------------



// Print PDF -----------------------------------
// ---------------------------------------------

body.print-pdf .printonly {
  visibility: visible;
}

body.print-pdf,
.titleslide>body.print-pdf>.reveal,
.titleslide>body.print-pdf>.reveal,
.titleslide>body.print-pdf {
  background: none;
  counter-reset: page -1;
}

body.print-pdf section,
.titleslide>body.print-pdf section {
  text-align: center;
  background: none;
  color: $mainColor;
}

.titleslide>body.print-pdf h1,
.titleslide>body.print-pdf h2,
.titleslide>body.print-pdf h3,
.titleslide>body.print-pdf h4,
.titleslide>body.print-pdf h5,
.titleslide>body.print-pdf h6 {
  color: $headingColor;
}

.titleslide>body.print-pdf section::before {
  content: counter(page);
  counter-increment: page;
  top: 7in;
  right: 0;
  height: 36px;
  position: absolute;
  font-size: 0.5em;
  color: $base05;
  font-size: 18px;
}

.titleslide>body.print-pdf section::after {
  content: "© Solinea, Inc.";
  top: 7in;
  width: 100%;
  left: 0;
  background: url(../../assets/solinea_flat_logo_150_36.png) 0% 101% no-repeat;
  height: 36px;
  text-align: center;
  font-size: 18px;
}

body.print-pdf section.sectionslide>h4::before {
  content: "";
  height: 4in;
  display: block;
}

// ---------------------------------------------
