body {
  background:
    url(solinea_flat_logo_150_36.png) 3% 97% no-repeat,
    url(OpenStackLogo_150_43.png) 3% 3% no-repeat,
    url(juno-logo-150-60.png) 98% 3% no-repeat;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  color: #3B8DBB;
}

.reveal a {
  color: #6AA949;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal::after {
  content: "© Solinea, Inc.";
  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  font-size: 0.5em;
  color: #aaa;
  text-align: center;
}
